*.pyc
*.sublime-workspace
*.svn*
.DS_Store
.grunt/
_SpecRunner.html
deploy/
dist/
node_modules/
npm-debug.log
secrets.json
src/agrc/
src/bootstrap/
src/dijit/
src/dojo/
src/dojox/
src/esri/
src/favico.js/
src/ijit/
src/jasmine-favicon-reporter/
src/jquery/
src/matchers/
src/spinjs/
src/stubmodule/
src/util/
src/dgrid/
src/put-selector/
src/mustache/
src/xstyle/
src/spin.js/
src/ladda-bootstrap/