*.pyc
*.sublime-workspace
*.svn*
.DS_Store
.grunt/
dist/
_SpecRunner.html
node_modules/
src/agrc/
src/ijit/
src/bootstrap/
src/dijit/
src/dojo/
src/dojox/
src/esri/
src/favico.js/
src/jasmine-favicon-reporter/
src/jquery/
src/matchers/
src/spinjs/
src/stubmodule/
src/util/