<div>
    <div class='title-container'>
        <h1>
            <span class='title'>UDOT PEL Application</span>
            <a data-dojo-attach-point='version' class='version' href='ChangeLog.html'></a>
        </h1>
        <img src='app/resources/udot_logo.png' alt='agrc logo'>
    </div>
    <div data-dojo-attach-point='sideBar' class='side-bar-container container-with-border'>
        <div class="side-bar-padder">
            <div data-dojo-attach-point="logoutDiv"></div>
            <div style='padding-top:5px'><strong>Helpful Information</strong></div>
            <ul>
                <li><small>Learn how to this <a href="user-guide.pdf">app works</a>.</small></li>
                <li><small>Learn more <a href='http://gis.bio-west.com/uPELguide/index.html'>about uPEL</a>.</small></li>
                <li><small>Data and services provided by <a href='http://gis.utah.gov'>Utah AGRC</a>.</small></li>
            </ul>

            <h4>Generate Report</h4>
            <div data-dojo-attach-point='reportNode'></div>

            <h4>Find Address</h4>
            <div data-dojo-attach-point='geocodeNode'></div>

            <h4>Find Place Name</h4>
            <div data-dojo-attach-point='gnisNode'></div>

            <h4>Find City</h4>
            <div data-dojo-attach-point='cityNode'></div>
        </div>
    </div>
    <div data-dojo-attach-point='centerContainer' class='center-container container-with-border'>
        <div data-dojo-attach-point='sidebarToggle'></div>
        <div data-dojo-attach-point='mapDiv'></div>
    </div>
</div>
